# Binning data

In [39]:
import numpy as np
import pandas as pd

In [51]:
data = np.array([10,2,33,422,533,100,1,43,200,60,80])

In [52]:
bins = np.linspace(data.min(),data.max(),int(len(data)/3))
bins

array([   1.,  267.,  533.])

In [54]:
putInBins = np.digitize(data, bins=bins)
putInBins

array([1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1], dtype=int64)

In [55]:
fin = pd.DataFrame([data,putInBins]).T
fin.columns = ['Data','Bin']
fin

    Data  Bin
0     10    1
1      2    1
2     33    1
3    422    2
4    533    3
5    100    1
6      1    1
7     43    1
8    200    1
9     60    1
10    80    1