# Bins and dummies

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randint(1, 10, 10)
data

array([1, 9, 4, 6, 8, 3, 4, 3, 8, 4])

In [3]:
bins = [0,2,4,6,8,10]

In [4]:
#The cut method is useful for going from a continuous variable to a categorical variable. 
x = pd.cut(data,bins)
x

[(0, 2], (8, 10], (2, 4], (4, 6], (6, 8], (2, 4], (2, 4], (2, 4], (6, 8], (2, 4]]
Categories (5, object): [(0, 2] < (2, 4] < (4, 6] < (6, 8] < (8, 10]]

In [5]:
#bins include the rightmost edge as default
x.value_counts()

(0, 2]     1
(2, 4]     5
(4, 6]     1
(6, 8]     2
(8, 10]    1
dtype: int64

In [6]:
#Number of bins can be given as a scalar.
y = pd.cut(data, 3)
y

[(0.992, 3.667], (6.333, 9], (3.667, 6.333], (3.667, 6.333], (6.333, 9], (0.992, 3.667], (3.667, 6.333], (0.992, 3.667], (6.333, 9], (3.667, 6.333]]
Categories (3, object): [(0.992, 3.667] < (3.667, 6.333] < (6.333, 9]]

In [7]:
#Bins/categories can be given names
names = 'Good Aight Bad'.split()
z = pd.cut(data, 3, labels=names)
z

[Good, Bad, Aight, Aight, Bad, Good, Aight, Good, Bad, Aight]
Categories (3, object): [Good < Aight < Bad]

In [8]:
z.value_counts()

Good     3
Aight    4
Bad      3
dtype: int64

In [9]:
#dummies converts categorical data into dummy/indicator variables
pd.get_dummies(x)

   (0, 2]  (2, 4]  (4, 6]  (6, 8]  (8, 10]
0     1.0     0.0     0.0     0.0      0.0
1     0.0     0.0     0.0     0.0      1.0
2     0.0     1.0     0.0     0.0      0.0
3     0.0     0.0     1.0     0.0      0.0
4     0.0     0.0     0.0     1.0      0.0
5     0.0     1.0     0.0     0.0      0.0
6     0.0     1.0     0.0     0.0      0.0
7     0.0     1.0     0.0     0.0      0.0
8     0.0     0.0     0.0     1.0      0.0
9     0.0     1.0     0.0     0.0      0.0

In [10]:
Ex = 'a b c d a'.split()
pd.get_dummies(Ex)

     a    b    c    d
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0

In [15]:
Sex = 'M M M F M F'.split()
pd.get_dummies(Sex)

     F    M
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  1.0  0.0
4  0.0  1.0
5  1.0  0.0