In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(6, 4)), columns=list('ABCD'))

In [3]:
df

    A   B   C   D
0  89  90  45  32
1  52  94  63  81
2  12  10  43  64
3  38  65  91  45
4   3  54   6  93
5  97  55  92  93