# Creating an in memory SQLite3 database

In [1]:
import csv 
import sqlite3
import pandas as pd

In [2]:
inputfile = r"C:\Users\James\Desktop\putme.csv"

In [3]:
#what the data looks like in a spreadsheet
pd.read_csv(inputfile)

   Col1  Col2 Col3  Col4  Col5
0     1     2   hi  test     3
1     2     3    y     n     5

In [4]:
#connect to the database
con = sqlite3.connect('test.db')

#Rows can be accessed by name using this class as a row factory 
con.row_factory = sqlite3.Row

#create cursor object that can execute sql commands 
c = con.cursor()

In [5]:
create_table = """ CREATE TABLE IF NOT EXISTS test
                    (col1 varchar(20), 
                     col2 varchar(20),
                     col3 varchar(20), 
                     col4 varchar(20), 
                     col5 varchar(20));"""

c.execute(create_table)

#save changes
con.commit()

In [6]:
#Delimiter defaults to comma, shown here for explicit example
file_reader = csv.reader(open(inputfile, 'r'), delimiter=',')

#skip the column headers
header = next(file_reader, None)

for row in file_reader:
    print(row)

['1', '2', 'hi', 'test', '3']
['2', '3', 'y', 'n', '5']

In [7]:
file_reader = csv.reader(open(inputfile, 'r'))

#skip column names
next(file_reader, None)

for row in file_reader:
    
    print(row)
    
    #? is a place holder for the elements of the row
    c.execute("INSERT INTO test VALUES (?,?,?,?,?);", row)
    
#save the changes
con.commit()

['1', '2', 'hi', 'test', '3']
['2', '3', 'y', 'n', '5']

In [8]:
#Count number of rows in database
numrows = c.execute("SELECT Count(*) FROM test;")

#fetchone returns a tuple where the first element is the number of rows
rowcount = numrows.fetchone()[0]
rowcount

2

In [9]:
#A slightly more pythonic way of doing it 
numrows = c.execute("SELECT Count(*) FROM test;")

#Use tuple unpacking to get the number of rows
(rowcount,) = numrows.fetchone()
rowcount

2

In [10]:
output = c.execute("SELECT * FROM test")

In [11]:
rows = output.fetchall()

In [12]:
for row in rows:
    output = list(row)
    print(output)

['1', '2', 'hi', 'test', '3']
['2', '3', 'y', 'n', '5']

In [13]:
tester = c.execute("SELECT * FROM test WHERE col2 = '2'")

In [14]:
rows = tester.fetchall()

In [15]:
for row in rows:
    print(list(row))

['1', '2', 'hi', 'test', '3']

In [16]:
tester_two = c.execute("SELECT * FROM test")

In [17]:
#Because of the sqlite3.Row row factory, rows can be accessed case-insensitively by column name
rows = tester_two.fetchall()
for row in rows:
    print(row['col3'])

hi
y

In [18]:
rows[0]['col3']

'hi'

In [19]:
rows[0]['col4']

'test'

In [20]:
#rows can still be accessed by index
rows[0][3]

'test'

In [21]:
#select only the first column
tester_three = c.execute("SELECT col1 FROM test")

rows= tester_three.fetchall()

In [22]:
list(rows[0])

['1']