# Pandas descriptive statistics

In [1]:
import pandas as pd
import numpy as np

### Create a 100x4 dataframe with random numbers between 0 and 400 from the discrete uniform distribution

In [2]:
df = pd.DataFrame(np.random.randint(0,400,size=(100,4)),columns=list('ABCD'))
#The head method shows 5 rows by default; this is mutable with the 'n' parameter
df.head()

     A    B    C    D
0  280   92   30  279
1  305  340  311  331
2  160  186   41   49
3  381  118  367   13
4   33   15  248  227

### Compute set of summary statistics for each dataframe column

In [3]:
df.describe()

                A           B           C           D
count  100.000000  100.000000  100.000000  100.000000
mean   203.990000  205.970000  195.630000  200.070000
std    112.443253  109.736084  114.594925  115.899414
min      1.000000   15.000000    5.000000    5.000000
25%    123.750000  111.000000   98.750000   96.750000
50%    208.000000  194.500000  201.500000  215.000000
75%    295.750000  288.500000  282.250000  287.000000
max    394.000000  394.000000  399.000000  388.000000

### Return a series of the highest number from each column

In [4]:
df.max(axis=0)

A    394
B    394
C    399
D    388
dtype: int32

### Return index values of the max value

In [5]:
highest = df.idxmax(axis=0)
#Can be used across rows or columns using the axis parameter, idxmin returns the index of the lowest value. 
highestA = highest[0]
highest

A    24
B    85
C     7
D    70
dtype: int64

In [6]:
df.ix[highestA,'A']

394

### Sum Columns

In [7]:
df.sum()

A    20399
B    20597
C    19563
D    20007
dtype: int64

In [8]:
#Sum rows
df.sum(axis=1).head()

0     681
1    1287
2     436
3     879
4     523
dtype: int64

### Other useful methods:

<ul>
<li><b>count</b> - Number of non-NA values</li>
<li><b>mean</b></li>
<li><b>mad</b> - Mean absolute deviation from mean value</li>
<li><b>cumsum</b> - Cumulative sum of values</li>
<li><b>pct_change</b> - Compute percent changes</li>

### On non-numerical data, the describe method produces alternate summary statistics

In [9]:
string_data = pd.DataFrame(["This","Is","A","Test"]*4)
string_data.describe()

           0
count     16
unique     4
top     Test
freq       4