# Pandas  indexing

In [1]:
import pandas as pd
import numpy as np

In [2]:
rand = np.random.RandomState(42)

In [3]:
data = rand.randint(1,10, (10,4))

In [4]:
df = pd.DataFrame(data, columns='A B C D'.split())
df.index = range(1,11)

In [5]:
df

    A  B  C  D
1   7  4  8  5
2   7  3  7  8
3   5  4  8  8
4   3  6  5  2
5   8  6  2  5
6   1  6  9  1
7   3  7  4  9
8   3  5  3  7
9   5  9  7  2
10  4  9  2  9

### loc

The loc attribute allows indexing and slicing that always references the explicit index:

In [6]:
df.loc[1]

A    7
B    4
C    8
D    5
Name: 1, dtype: int32

In [7]:
df.loc[1:3]

   A  B  C  D
1  7  4  8  5
2  7  3  7  8
3  5  4  8  8

In [12]:
df.loc[:,'B':'C']

    B  C
1   4  8
2   3  7
3   4  8
4   6  5
5   6  2
6   6  9
7   7  4
8   5  3
9   9  7
10  9  2

In [11]:
df.loc[1:3,'B':'C']

   B  C
1  4  8
2  3  7
3  4  8

### iloc

The iloc attribute always references the implicit Python-style index:

In [8]:
df.iloc[1]

A    7
B    3
C    7
D    8
Name: 2, dtype: int32

In [9]:
df.iloc[1:3]

   A  B  C  D
2  7  3  7  8
3  5  4  8  8

In [18]:
df.iloc[:, 1:2]

    B
1   4
2   3
3   4
4   6
5   6
6   6
7   7
8   5
9   9
10  9

In [19]:
df.iloc[1:3, 1:2]

   B
2  3
3  4