# Sorting a pandas dataframe or series

In [6]:
import pandas as pd
import numpy as np

In [15]:
#Create a 4x1 Series
obj = pd.Series(range(4), index = ['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int32

### Sort a series by its index

In [4]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

### Sort a series by its values

In [40]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int32

### Sort a dataframe by its index

In [14]:
#Create a 2x4 dataframe
frame = pd.DataFrame(np.arange(8).reshape((2,4)), index=['three','one'],columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [13]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

### Sort a dataframe by its columns

In [16]:
frame.sort_index(axis=1, ascending=True)
#The ascending parameter allows you to choose the direction of the sort

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

### Sorting dataframe values by a specific column

In [36]:
frame.ix[1,2] = 10
frame

       d  a   b  c
three  0  1   2  3
one    4  5  10  7

In [38]:
frame.sort_values(by='b', ascending=False)
#It is possible to sort by more than one column by passing the sort_values 'by' parameter a list of columns.

       d  a   b  c
one    4  5  10  7
three  0  1   2  3