# namedtuples

In [1]:
from collections import namedtuple

The named tuple is a factory method that returns a subclass of the standard Python tuple.

In [5]:
person = namedtuple('person', ['age','weight'])

In [7]:
person1 = person(10, 200)
person1

person(age=10, weight=200)

In [9]:
person1.age

10

It is interchangeable with a normal tuple.

In [8]:
len(person1)

2

In [10]:
age, weight = person1

In [11]:
age

10

namedtuples require less space than a dictionary; however, they are immutable.

In [12]:
person1.age = 11

AttributeError: can't set attribute

You can use the replace() method but it will create a new instance of the namedtuple.

In [13]:
person1 = person1._replace(age=11)

This can be useful to create defaults

In [16]:
person_default = person(None, None)

In [17]:
person_default

person(age=None, weight=None)

In [18]:
person2 = person_default._replace(age=10)

In [19]:
person2

person(age=10, weight=None)